{% extends "_base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Rejestracja nowego użytkownika</h1>
    </div>
    <form class="form-signup" method="POST">{% csrf_token %}
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label>E-mail</label><br>
        {{ form.email }}
    </div>
    <br>
    <div class="fieldWrapper">
    {{ form.username.errors }}
        <label>Login</label><br>
        {{ form.username }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form.password1.errors }}
        <label>Hasło</label><br>
        {{ form.password1 }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form.password2.errors }}
        <label>Powtórz hasło</label><br>
        {{ form.password2 }}
    </div>
    <br>
    <input type="submit" name="submit" class="btn btn-success" value="Stwórz konto">
</form>
{% endblock %}