{% extends "_base.html" %}

{% block content %}
    <div class="row"><br/>
    <div class="page-header">
    </div>
        <div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Aktualizuj feedy ręcznie</div>
        <div class="panel-body">
            <a href="{% url 'update' %}" class="btn btn-primary">Aktualizuj</a>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Pobierz feed #1</div>
        <div class="panel-body">
            <a href="{% url 'download' 'all.xml' %}" class="btn btn-success">Pobierz</a>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Pobierz feed #2</div>
        <div class="panel-body">
            <a href="{% url 'download' 'cheapest.xml' %}" class="btn btn-success">Pobierz</a>
        </div>
    </div>
            </div>
    </div>
{% endblock %}