{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_title %}{% block title %}Feedy{% endblock %}{% endblock %}
{% block bootstrap3_content %}
    {% block navbar %}
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home-page' %}">Generator</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="{% url 'api-root' %}">API Browser</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="#">Wyloguj</a></li>
                    {% else %}
                        <li><a href="#">Rejestracja</a></li>
                        <li><a href="#">Zaloguj</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}
    <div class="container">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}